*{   
    /* margin: 0px; */
    /* padding: 0px; */
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
     text-decoration: none; 
 } */

main{
    margin-left: 120px;
    margin-right: 191px;
    
}
 .receitas p{ 
     margin-bottom: 41px; 
}

.imgpaola{
    margin-bottom: 37px;

}
nav{
    margin-bottom: 107px;
}
.ingredientes ul{ 
    margin-bottom: 37px;
    list-style: none;
}
.preparo p{
    margin-bottom: 166px;
}
.coluna1, .coluna2, .coluna3{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 30px;
        align-items: center;
        padding-top: 2%;
        /* padding-bottom: 2%; */
        
    }
    .batata{
        text-align: center;
       
        
    }
    nav ul{
        list-style: none;
        
    }
    
    nav ul li a {
        color: #ffff;
        /* text-decoration: none;     */
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        font-size: 20;
        font-weight: 700;
        padding: 7px 30px 7px 30px;
    }  
    header{
        display: flex;
        background-color: #FFC107;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: 1px 0px 10px black;
    }
    nav{
        display:flex;
        background-color: #FFA000;
        justify-content: center;
        }
        .footer{
            background-color: #FFC107;
            color: #FFFFFF;
            display: flex;
            align-items: center;
        }
        h1{
            color: #FFA000;
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 28px;
            padding-inline: 6%;
            
        }
         .batata a{
            background-color: #176902;
            /* text-decoration: none; */
            display: inline-block;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 43px;
            padding-right: 43px;
           color: #FFFFFF;
           font-size: 24px;  
           font-weight: bolder;
           margin-bottom: 75px;
             margin-top: -10px; 
           
        }
        .batata p{
            font-size: 26px;
            font-weight: bolder;
            margin-top: 0px;
            
        }
        .batata img{
            width: 345px;
            
        }
        footer{
            margin-top: 235px;
        }
